.mood-container {
  width: 100%;
  background: var(--white);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 60px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mood-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
}

.mood-selector h2,
.mood-journal h2 {
  color: var(--green-main);
  font-size: 2.9rem;
  text-align: center;
  margin-bottom: 20px;
}

.mood-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.mood-btn {
  background-color: var(--bg-light);
  border: 1px solid #c8d1c2;
  border-radius: 16px;
  width: 190px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.7rem;
}

.mood-btn.active {
  background-color: var(--green-accent);
  color: white;
}

.mood-btn:hover {
  transform: translateY(-3px);
}

.emoji-img {
  width: 44px;
  height: 44px;
}

.mood-message {
  text-align: center;
  font-size: 1.9rem;
  color: var(--text-main);
  margin-top: 10px;
}
